body {
  margin: 0 0;
  padding: 0 0;
  background: url('/images/back.jpg');
  background-size: cover;
}

#bigbox {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height: 800px;
}

#upperbox {
  margin-bottom: 50px;
}

#up-head {
  width: 500px;
  font-size: 30px;
  color: gray;
  text-align: center;
}

#content {
}

.innerbox {
}

#summit-button {
}

span {
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: 20px;
  color: rgb(54, 104, 173);
}

input {
  width: 200px;
  display: inline-block;
}

p {
  margin: auto;
  width: 310px;
  color: rgb(54, 104, 173);
}

#submit-button, #clean {
   background-color: #4CAF50; /* Green */
   border: 1px solid green;
   color: white;
   height: 50px;
   text-align: center;
   /*text-decoration: none;*/
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   border-radius: 10px;
}

#submit-button:hover, #clean:hover {
  background-color: #3e8e41;
}

#submit-button {
  float: left;
}

#clean {
  float: right;
}


.inputbox {
  width: 310px;
  height: 30px;
  border-radius: 5px;
}

.warning {
  width: 300px;
}
